#landing-page-container{

  background: #f2f2f2;
  padding-top: 75px;
  padding-bottom: 75px;

}

#landingNavRow{

  padding-top: 25px;
  padding-bottom: 25px;

  .col-md-4{

    @media(max-width: $small){

      padding-bottom: 15px;

    }

    .wrapper{

      padding: 10px;
      height: 250px;
      cursor: pointer;
      position: relative;
      @include centerBackgroundImage();

      @media(max-width: $medium){

        height: 200px;

      }

      h2{

        font-size: 28px;
        color: white;
        //text-shadow: -1px 0 $red, 0 1px $red, 1px 0 $red, 0 -1px $red;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        //text-shadow: 3px 3px 0px rgba(0,0,0,0.2);

        @media(max-width: $medium){

          font-size: 22px;

        }

        @media(max-width: $small){

          font-size: 28px;

        }

      }

    }

  }

}

.studentView{

  .overlay{

    background: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    border: 1px solid $red;

    &:hover{

      background: rgba(190,20,40, 0.6);

    }

  }

  .first{

    .wrapper{

      background-image: url('../assets/images/student-my-schedule.jpg');

    }

  }

  .second{

    .wrapper{

      background-image: url('../assets/images/enrol-session.jpg');

    }

  }

  .third{

    .wrapper{

      background-image: url('../assets/images/schedule.jpg');

    }

  }

}

.lecturerView{

  .overlay{

    background: rgba(85,85,85, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    border: 1px solid $red;

    &:hover{

      background: rgba(0,0,0, 0.6);

    }

  }

  .first{

    .wrapper{

      background-image: url('../assets/images/look-up.jpg');

    }

  }

  .second{

    .wrapper{

      background-image: url('../assets/images/subject-look.jpg');

    }

  }

  .third{

    .wrapper{

      background-image: url('../assets/images/my-classes.jpg');

    }

  }

}
