/* variables */

$red: #be1428;
$light-grey: #e9e9e9;
$black: #333;
$dark-grey: #555555;
$blue: #0B4F6C;
$tan: #be7c4d;
$orange: #be5a38;
$grey: #d3d0cb;

$medium: 991px;
$small: 767px;
$mobile: 575px;

$transition: all 0.5s ease-in;

@mixin centerBackgroundImage{

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* global */

/* import font from google (same as TAFE SA site)*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{

  font-family: 'Roboto', sans-serif;

}

a{

  transition: $transition;

  &:hover{

    text-decoration: none;

  }

}



/* imports */

@import 'header';
@import 'login';
@import 'footer';
@import 'enrolment';
@import 'landing';
